Source: pyxis
Section: python
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Uploaders: Athanaseus Javas Ramaila <aramaila@sarao.ac.za>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-numpy,
 python3-six
Standards-Version: 4.6.2.0
Homepage: https://github.com/ska-sa/pyxis
X-Python3-Version: >= 3.10

Package: python3-pyxis
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-matplotlib,
 python3-casacore, python3-meqtrees-timba, python3-owlcat
Description: Python Extensions for Interferometry Scripting
 Pyxis is a set of Python-based scripting services that is meant to simplify
 the process of making data reduction and simulation scripts, using MeqTrees
 and other diverse bits of software.
 .
 Pyxis scripts are essentially Python scripts, with extra convenience features
 provided by the Pyxis framework. Pyxis borrows interface ideas from, among
 others, the Perl language, casapy, pybdsm, etc. Pyxis scripts can be run from
 the command line, or interactively via ipython.
 
Package: pyxis
Architecture: any
Depends: ${misc:Depends}, python3-pyxis
Description: meta package for Python Extensions for Interferometry Scripting
 Pyxis is a set of Python-based scripting services that is meant to simplify
 the process of making data reduction and simulation scripts, using MeqTrees
 and other diverse bits of software.
 .
 Pyxis scripts are essentially Python scripts, with extra convenience features
 provided by the Pyxis framework. Pyxis borrows interface ideas from, among
 others, the Perl language, casapy, pybdsm, etc. Pyxis scripts can be run from
 the command line, or interactively via ipython.
